
@{
    ViewBag.Title = "Index";
}

<h2>Anime</h2>

<br />
<a href="Anime/ShowList">Click here to show a list of anime this season.</a>
<br />
<a href="Anime/ShowTable">Click here to show a table of anime this season.</a>

