@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Anime Info</h1>
    <p class="lead">The source for information on the anime that is being released this season from Japan.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Anime this Season</h2>
        <p>
            <ul>
                <li>Title</li>
                <li>Description</li>
                <li>Publisher</li>
                <li>Release Date</li>
                <li>Season</li>
                <li>Rating</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="Anime">See Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Next Season</h2>
        <p>What do you have to look forward to?</p>
        <p><a class="btn btn-default" href="Anime">Learn more &raquo;</a></p>
    </div>
</div>